include README.txt
include miphy_resources/resources/static/css/*
include miphy_resources/resources/static/js/*
include miphy_resources/resources/static/images/favicon.ico
include miphy_resources/resources/static/images/miphy_icon_bw.png
include miphy_resources/resources/static/libs/*
include miphy_resources/resources/static/libs/images/*
include miphy_resources/resources/templates/*
include miphy_resources/tests/*
