/* ======  The main theme colours  ====== */
.dark-bg,
.style-box h2 {
  background-color: #FF9800;
}
.style-box {
  border-color: #FF9800;
}
.light-bg {
  background-color: #FFE0B2;
}
/* ======  General formatting options  ====== */
html, body {
  height: 100%;
  margin: 0px;
}
body {
  font-size: 100%;  /* Needed for IE. */
}
p, h1, h2, h3, li, table, button, label, span {
  color: black;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}
p {
  margin: 12px auto 10px auto;
}
h1 {
  font-size: 2.5em;
  color: #212121;
  margin: 0px;
}
h2 {
  font-size: 1.2em;
  color: #212121;
  margin: 0px;
  padding: 5px;
  width: 100%;
}
h3 {
  font-size: 1.0em;
  text-decoration: underline;
  margin: 16px auto 0px auto;
}
p, li, table, label {
  font-size: 1.0em;
}
ul {
    list-style: none;
}
button {
  font-size: 0.9em;
  margin: 2px auto 5px auto;
}
label {
  margin-right: 15px;
}
thead {
  /*font-size: 1.0em;*/
  color: black;
  text-align: left;
  font-weight: bold;
  background-color: inherit;
  cursor: default;
}
td {
  padding: 0px;
  text-align: center;
}
table label, table select {
  text-align: right;
  float: right;
  margin-right: 0px;
}
.speciesDot {
  font-size: 1.4em;
  line-height: 10px;
  /*May not work in IE or Opera.*/
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
#pageDiv {
  padding: 0px;
  min-height: 100%;
  position: relative;
  text-align: center; /* To center mainBody */
}
#mainBody {
  /*overflow-y: auto;*/
  margin: 0px auto 0px auto;
  padding: 0px 0px 70px 5px;
  display: inline-block;
  text-align: left; /* To return to default. */
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
}
#footerDiv {
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 0px;
  bottom: 5px;
  z-index: -1;
}
#footerDiv p {
  text-align: center;
  margin: 16px auto 16px auto;
  color: white;
}

/* ======  The header and navigation bar  ====== */
#header, #navBar {
  width: 100%;
  min-width: 675px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
#headerContainer {
  display: inline-block;
  margin: 10px auto 10px auto;
}
#headerImg {
  height: 75px;
  display: inline-block;
  vertical-align: middle;
}
#headerSubtitle {
  line-height: 75px;
  vertical-align: middle;
  display: inline;
}
#navBar {
  background-color: black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 1px 1px 2px #555555;
}
#navMenu {
  margin: 3px 100px 3px 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
}
#navMenu li {
  float:left;
  margin: 0px 30px;
}
#navMenu li a {
  font-size:16px;
  color:#fff;
  text-decoration:none;
  padding:0px 15px;
}
#navMenu li a:hover{
  background-color: #FFFFFF;
  color: black;
}

/* ======  The main style of box  ====== */
.style-box {
  background-color: white;
  border-width: 4px; border-style: solid;
  box-shadow: 1px 1px 2px #555555;
  padding: 0px 8px 8px 8px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 5px;
  float: left;
}
.style-box h2 {
  margin-top: 10px;
  margin-bottom: 2px;
}
.style-box > *:not(svg):not(p):not(h2):not(h3) {
  margin-top: 6px;
  margin-bottom: 4px;
}
.style-box table {
  font-size: 0.9em;
  width: 100%;
  margin-bottom: 0px;
  border-collapse: collapse;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: " \25B4\25BE"
}
table.sortable th.sorttable_sorted:after {
  content: "\25B4"
}
table.sortable th.sorttable_sorted_reverse:after {
  content: "\25BE"
}
.clearfix {
  clear: both;
}
