
.style-box .param-spinner {
  width: 21px;
}

#bgTreeImg {
  z-index: -1;
  width: 515px;
  height: 515px;
  margin: 10px 10px 10px 0px;
}

#detailsPane {
  width: 836px;
}
#parametersPane {
  width: 310px;
}
#upload-files {
  margin-top: 15px;
}
#upload-files input {
  margin-bottom: 10px;
}
#upload-file-type-select {
  margin-bottom: 15px;
}
#uploadButton {
  width: 100%;
  text-align: center;
}

#viewPane {
  width: 240px;
}
